<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0" />
    <title>Express App</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav>
      <a href="/">Welcome</a>
      <ul>
        <li><a href="api/login">login</a></li>
        <li><a href="api/register" class="btn">signup</a></li>
      </ul>
    </nav>
  </body>
</html>
